@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo à Elite Consultores</h1>
    <p>Consultoria de excelência em Natal, Rio Grande do Norte</p>
    <a href="#contact" class="cta-button">Entre em Contato</a>
</div>
<section id="about" class="about">
    <div class="container">
        <h2>Sobre Nós</h2>
        <p style ="text-align: justify">
            A Elite Consultores é uma empresa de consultoria sediada em Natal, Rio Grande do Norte,
            dedicada a fornecer soluções estratégicas e inovadoras para empresas de diversos setores. 
            Nossa missão é apoiar organizações na tomada de decisões assertivas, otimizando processos e 
            potencializando resultados.Com uma equipe de consultores altamente qualificados e experientes, 
            oferecemos serviços personalizados que atendem às necessidades específicas de cada cliente.</p>
        <p style="text-align: justify">
            Nossa expertise abrange consultoria empresarial, financeira, tributária e de gestão de projetos,
            sempre com foco na excelência e na obtenção de resultados tangíveis. Utilizamos metodologias 
            comprovadas e ferramentas avançadas para garantir o máximo desempenho e eficiência em todas as 
            áreas de atuação</p>
        <p style="text-align: justify">
            Acreditamos na construção de relacionamentos sólidos e duradouros com nossos clientes, pautados
            pela confiança, transparência e compromisso com a qualidade. Na Elite Consultores, entendemos que 
            o sucesso dos nossos clientes é o nosso sucesso, e trabalhamos incansavelmente para superar expectativas 
            e entregar valor em cada projeto</p>
        <p style="text-align: justify">
            Seja você uma pequena empresa em crescimento ou uma grande organização consolidada, a Elite Consultores está
            preparada para ser seu parceiro estratégico na jornada rumo ao desenvolvimento sustentável e ao sucesso empresarial.</p>
    </div>
</section>
<section id="services" class="services">
    <div class="container">
        <h2>Serviços</h2>
        <div class="service-item" style="text-align: justify">
            <h3>Consultoria Empresarial</h3>
            <p>Desenvolvimento de Estratégias de Negócios: Criação e implementação de planos estratégicos para alcançar os objetivos corporativos.</p>
            <p>Análise e Reengenharia de Processos: Avaliação e redesenho dos processos internos para melhorar a eficiência e reduzir custos.</p>
            <p>Gestão de Mudanças Organizacionais: Suporte na implementação de mudanças significativas dentro da organização, minimizando resistência e maximizando aceitação.</p>
            <p>Estudo de Mercado e Análise Competitiva: Pesquisa de mercado detalhada e análise da concorrência para identificar oportunidades e ameaças.</p>
            <p>Consultoria em Inovação e Transformação Digital: Desenvolvimento de estratégias para incorporar tecnologias emergentes e inovadoras nos processos de negócios.</p>
            <p>Desenvolvimento de Planos de Negócios: Criação de planos de negócios robustos para startups e empresas em expansão, detalhando estratégias, metas e projeções financeiras.</p>
            <p>Consultoria em Gestão de Projetos: Planejamento, execução e monitoramento de projetos, utilizando metodologias reconhecidas para garantir sucesso na entrega.</p>
        </div>
        <br/>
        <div class="service-item" style="text-align: justify">
            <h3>Consultoria Financeira</h3>
            <p>Planejamento Financeiro Estratégico: Desenvolvimento de planos financeiros de longo prazo para alinhar os objetivos empresariais com recursos financeiros disponíveis.</p>
            <p>Análise de Viabilidade Econômica: Avaliação da viabilidade de novos projetos e investimentos, considerando custos, receitas e riscos associados.</p>
            <p>Gestão de Fluxo de Caixa: Monitoramento e otimização do fluxo de caixa para garantir a saúde financeira da empresa.</p>
            <p>Reestruturação Financeira: Planejamento e implementação de estratégias para reorganizar e fortalecer a estrutura financeira da empresa.</p>
            <p>Consultoria em Captação de Recursos: Assessoria na obtenção de financiamento através de bancos, investidores e outras fontes de capital.</p>
            <p>Auditoria Financeira: Revisão detalhada das finanças da empresa para garantir conformidade com as normas e identificar áreas de melhoria</p>
            <p>Planejamento Tributário: Desenvolvimento de estratégias para otimização da carga tributária, garantindo conformidade legal e eficiência fiscal.</p>
        </div>
    </div>
</section>
<section id="team" class="team">
    <div class="container" style="text-align: center">
        <h2>Equipe</h2>
        <p>Conheça alguns dos profissionais por trás da nossa empresa...</p>
        <img style="width:60%" src="~/images/funcionarios.jfif" alt="Logo" class="navbar-brand" />
    </div>
</section>
<section id="contact" class="contact">
    <div class="container">
        <h2>Contato</h2>
        <form action="#">
            <label for="name">Nome</label>
            <input type="text" id="name" name="name" required>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
            <label for="message">Mensagem</label>
            <textarea id="message" name="message" required></textarea>
            <button type="submit">Enviar</button>
        </form>
    </div>
</section>
