@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <h2>Política de Privacidade</h2>
    <p style="text-align: justify">
        Na Elite Consultores, a privacidade dos nossos clientes e visitantes é uma prioridade. 
        Este documento detalha como coletamos, usamos, armazenamos e protegemos as informações 
        pessoais fornecidas através do nosso site. Ao utilizar nossos serviços, você concorda 
        com as práticas descritas nesta política.
    </p>
    <p style="text-align: justify">
        Coletamos informações pessoais, como nome, e-mail, número de telefone e dados financeiros, 
        apenas quando fornecidas voluntariamente por você. Essas informações são usadas exclusivamente 
        para melhorar nossos serviços, responder a consultas e processar transações.
    </p>
    <p style="text-align: justify">
        Adotamos medidas de segurança rigorosas para proteger suas informações contra acesso não 
        autorizado, alteração, divulgação ou destruição. Utilizamos tecnologias de criptografia e 
        servidores seguros para garantir a integridade e confidencialidade dos dados
    </p>
    <p style="text-align: justify">
        Compartilhamos suas informações pessoais apenas com terceiros confiáveis e parceiros de 
        negócios que ajudam a fornecer nossos serviços, e sempre sob acordos que garantem a proteção 
        dos seus dados. Não vendemos, alugamos ou comercializamos suas informações pessoais.
    </p>
    <p style="text-align: justify">
        Nosso site pode conter links para sites de terceiros. Não nos responsabilizamos pelas 
        práticas de privacidade desses sites e recomendamos que você leia as políticas de privacidade 
        deles ao visitá-los.

    <p>Reservamo-nos o direito de atualizar esta política periodicamente. Informaremos quaisquer 
        mudanças significativas através do nosso site. Se você tiver dúvidas ou preocupações sobre 
        nossa política de privacidade, entre em contato conosco.</p>
    </p>
    <p style="text-align: justify">
        A sua confiança é importante para nós, e estamos comprometidos em proteger a sua privacidade 
        e garantir a segurança das suas informações pessoais.
    </p>
</div>
