@model IEnumerable<Projeto_Elite.Models.Disciplina>

@{
    ViewData["Title"] = "Index";
}

<h1>Disciplinas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <h4>Nome</h4>
            </th>
            <th>
                <h4>Nome do Professor</h4>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.NomeProfessor)
            </td>
            <td>
                    <a href="@Url.Action("Index", "Aluno", new { disciplinaId = item.Id })" class="btn btn-outline-secondary">Listagem Aluno</a>
            </td>
        </tr>
}
    </tbody>
</table>
